@font-face {
  font-family: "Google Sans";
  src: url("/public/fonts/GoogleSans-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("/public/fonts/GoogleSans-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("/public/fonts/GoogleSans-BoldItalic.ttf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("/public/fonts/GoogleSans-Italic.ttf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("/public/fonts/GoogleSans-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("/public/fonts/GoogleSans-MediumItalic.ttf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
