@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./base";
@import "../styles-component/header";
@import "../styles-component/footer";

@media screen and (max-width: 767px) {
  body {
    background: url("/public/images/bg_about-app.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
