@import "./base";
@import "../styles-component/header";
@import "../styles-component/footer";

.account-info {
  padding: 4rem 36rem 5rem;
}

.account-info__section-title {
  color: $theme4;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.7rem;
  margin-bottom: 5rem;
  opacity: 0.9;
}

#account-form {
  display: grid;
  grid-gap: 7.5rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.account-info__action {
  text-align: right;
}

.account-form__field {
  display: block;
  margin: 0;
}

.account-form__field + .account-form__field {
  margin-top: 2.4rem;
}

.account-form__field .field-name {
  color: $theme4;
  display: block;
  font-size: 2rem;
  opacity: 0.9;
}

.account-form__field .field-value {
  display: block;
}

.account-form__field:not(.horizontal) {
  .field-name {
    line-height: 2.5rem;
    margin-bottom: 1.2rem;
  }
  .field-value {
    width: 100%;
  }
}

.account-form__field.horizontal {
  align-items: center;
  display: flex;

  .field-name {
    line-height: 2.4rem;
    margin-right: 3.5rem;
  }
}

.account-info input[type="text"],
.account-info input[type="password"] {
  border: 0.07rem solid #413f3f;
  color: $theme4;
  font-size: 1.8rem;
  line-height: 2.2rem;
  opacity: 0.9;
  padding: 1.8rem;
  &:disabled {
    background-color: #efefef;
  }
}

.checkbox {
  align-items: center;
  display: inline-flex;
}

.checkbox + .checkbox {
  margin-left: 6rem;
}

.checkbox input {
  display: none;
}

.checkbox-show {
  border-radius: 50%;
  display: inline-block;
  height: 2.2rem;
  padding: 0.4rem;
  margin-right: 1.2rem;
  width: 2.2rem;
}

input:checked + .checkbox-show {
  background-color: #fff;
  border: 0.1rem solid #e60202;
  span {
    background-color: #e60202;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
  }
}

input:not(:checked) + .checkbox-show {
  background-color: #c4c4c4;
  border: 0.1rem solid #c4c4c4;
}

.checkbox-label {
  color: $theme4;
  font-size: 1.8rem;
  line-height: 2.2rem;
  opacity: 0.9;
}

.account-info__action {
  margin-top: 3.2rem;
}

.account-info__action button {
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  height: 6rem;
  opacity: 0.9;
  transition: background-color 0.1s linear;
  width: 23rem;
  & + button {
    margin-left: 2rem;
  }
  &:focus {
    outline: none;
  }
}

.account-info__action-cancel {
  background-color: $theme1;
  color: #000;
  &:focus,
  &:hover {
    background-color: darken($theme1, 5%);
  }
}

.account-info__action-submit {
  background-color: $theme2;
  color: #fff;
  &:focus,
  &:hover {
    background-color: lighten($theme2, 5%);
  }
}

.account-form__trigger-change-password {
  background-color: transparent;
  border: none;
  color: #e50202;
  cursor: pointer;
  float: right;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-top: 1.6rem;
  opacity: 0.9;
  padding: 0;
  &:focus,
  &:hover {
    outline: none;
    font-weight: 500;
  }
}

.page-divider {
  background-color: #efefef;
  border: none;
  height: 1rem;
  margin: 0;
  width: 100%;
}

.order-section__title {
  color: $theme4;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.7rem;
  margin: 3rem 0 2.4rem;
  opacity: 0.9;
  padding-left: 36rem;
  padding-right: 36rem;
}

.order-section__divider {
  border-top: 0.1rem solid $theme4;
  margin: 0 10rem 2.4rem;
}

.order-list {
  padding-left: 36rem;
  padding-right: 36rem;
}

.order-header {
  background-color: $theme1;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 3rem;

  h3 {
    color: $theme4;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin: 0;
    opacity: 0.9;
  }

  button {
    background-color: transparent;
    border: none;
    color: #e50202;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    padding: 0;
    transition: color 0.1s linear;
    opacity: 0.9;
    &:focus,
    &:hover {
      color: lighten(#e50202, 30%);
      outline: none;
    }
  }
}

.order-id {
  color: $theme4;
  font-size: 1.8rem;
  line-height: 2.2rem;
  opacity: 0.9;
  padding: 1.8rem 0;
  margin: 0;
}

.order hr {
  background: linear-gradient(to right, #bbb 50%, transparent 50%);
  background-size: 1.2rem 100%;
  border: none;
  height: 1px;
  margin: 0;
}

.order > ul {
  margin: 0;
  padding: 3rem 0;
}

.order > ul li {
  color: $theme4;
  font-size: 1.8rem;
  line-height: 2.2rem;
  list-style: none;
  opacity: 0.9;

  span:first-child {
    display: inline-block;
    width: 30rem;
  }
}

.order > ul li + li {
  margin-top: 1.5rem;
}

.order-plist {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-bottom: 2.5rem;
}

.order-pcard {
  width: 100%;

  h4 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin: 1rem 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 1.8rem;
    line-height: 2.2rem;
    list-style: none;
  }

  li + li {
    margin-top: 1rem;
  }
}

.order-pcard__img-wrapper {
  height: 0;
  padding-bottom: 130%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
}

.order-colour {
  border-radius: 50%;
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .account-info,
  .order-list,
  .order-section__title {
    padding-left: 24rem;
    padding-right: 24rem;
  }
}

@media screen and (max-width: 768px) {
  .account-info,
  .order-list,
  .order-section__title {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .order-section__divider {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .account-info {
    padding: 2rem 2rem 4rem 2rem;
  }
  #account-form {
    grid-gap: 2.5rem;
    grid-template-columns: minmax(0, 1fr);
  }
  .account-info__section-title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
  .order-section__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-top: 2.2rem;
    margin-bottom: 1.8rem;
  }
  .order-header h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .account-form__field + .account-form__field {
    margin-top: 1.6rem;
  }
  .account-form__field:not(.horizontal) .field-name {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .account-info input[type="text"],
  .account-info input[type="password"] {
    font-size: 1.8rem;
    padding: 1.2rem 1.8rem;
  }
  .account-form__trigger-change-password {
    font-size: 1.6rem;
  }
  .account-info__action button {
    font-size: 1.6rem;
    height: 5rem;
  }
  .account-info__action {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    button {
      width: unset;
    }
  }
  .account-info__action button + button {
    margin-left: 0;
  }
  .order-section__title,
  .order-list {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .order-section__divider {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .order-header {
    padding: 1.4rem 1.8rem;
  }
  .order-header button {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .order-id {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .order-header h3 span:first-child {
    display: none;
  }
  .order-header button span:last-child {
    display: none;
  }
  .order-plist {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .order > ul li span:first-child {
    display: block;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 100%;
  }
  .order > ul li + li {
    margin-top: 2rem;
  }
  .order > ul {
    padding: 2rem 0;
  }
  .order-pcard li {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 320px) {
  .order-plist {
    grid-template-columns: minmax(0, 1fr);
  }
}
