$theme1: #f6e5dc;
$theme2: #d47c61;
$theme3: #d8d7d7;
$theme4: #111010;
$theme5: #11478f;
$theme6: #ff492e;

* {
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
}

#root {
  overflow-x: hidden;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 40%;
  }
}

@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 62.5%;
  }
  .desktop-only {
    display: none;
  }
}
