@import "./base";
@import "../styles-component/header";
@import "../styles-component/footer";

.cart {
  padding: 4rem 2rem;
}

.cart ul {
  padding: 0;
}

.cart hr {
  margin: 3rem 0;
}
