@import "./base";
@import "../styles-component/header";
@import "../styles-component/footer";
@import "../styles-component/my-tooltip";

.checkout {
  display: grid;
  grid-gap: 9rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 45rem);
  padding: 5rem 10rem 0;
}

.checkout > .spacer {
  min-width: 9rem;
  max-width: 9rem;
}

.checkout > div:first-child {
  flex-grow: 1;
}

.checkout-timer__rect:first-child {
  margin-left: 1rem;
}

.checkout-timer__rect {
  color: #fff;
  display: inline-block;
  font-size: 3rem;
  line-height: 3.7rem;
  opacity: 0.9;
  padding: 0.9rem 0;
  position: relative;
  text-align: center;
  width: 10rem;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $theme2;
    content: "";
    z-index: 0;
    transform: skewX(-20deg);
  }
}

.checkout-timer__rect + .checkout-timer__rect {
  margin-left: 1.5rem;
}

.checkout-timer__rect .value {
  color: #fff;
  position: relative;
  z-index: 1;
}

.checkout-timer__rect .unit {
  bottom: calc(100% + 0.4rem);
  color: $theme4;
  font-size: 1.6rem;
  line-height: 2rem;
  left: 50%;
  opacity: 0.9;
  position: absolute;
  transform: translateX(-50%);
}

.checkout-timer__divider {
  background: linear-gradient(to right, #bbb 50%, transparent 50%);
  background-size: 1.2rem 100%;
  border: none;
  height: 1px;
  margin: 2rem 0;
}

.checkout-timer__desc {
  color: $theme4;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin: 1.5rem 0 0 0;
  opacity: 0.9;
}

.checkout-form {
  display: grid;
  grid-column-gap: 7.5rem;
  grid-row-gap: 2.4rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  margin-top: 3.6rem;
}

.checkout-form__field {
  display: block;
  .name {
    align-items: center;
    color: rgba($theme4, 0.9);
    display: flex;
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 1.2rem;
  }
  .name span {
    position: relative;
  }
  .value--wrapper {
    position: relative;
  }
  .value {
    background-color: #fff;
    border: 0.07rem solid #413f3f;
    display: block;
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 1.8rem;
    width: 100%;
  }
  .description {
    color: rgba(#146aa8, 0.9);
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 0;
    position: absolute;
    left: 0;
    top: calc(100% + 1.3rem);
  }

  input.value::placeholder {
    color: #727272;
  }
}

.checkout-form__field .name.required span::after {
  color: red;
  content: "*";
  position: absolute;
  left: calc(100% + 0.5rem);
  top: 0;
}

.checkout-cart {
  min-width: 45rem;
  max-width: 45rem;
}

.checkout-cart__head {
  background-color: $theme4;
  color: rgba(#fff, 0.9);
  padding: 1.8rem 0;
  text-align: center;
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
  }
}

.checkout-cart__body {
  background-color: #f2f2f2;
  padding: 2.5rem;
}

.cart__info {
  margin: 0 !important;
  padding: 0 !important;
}

.checkout-cart__foot {
  background-color: #f2f2f2;
  padding: 0 1.8rem 4.5rem;
}

.checkout-cart__foot hr {
  border-top: 1px solid $theme4;
  margin: 0;
}

.checkout-cart__foot .spacer {
  height: 2.1rem;
}

.checkout-cart__foot-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.checkout-cart__foot-info > :first-child {
  font-size: 1.6rem;
  line-height: 2rem;
  min-width: 12rem;
}

.checkout-cart__foot-info > :nth-child(2) {
  color: #000;
  flex-grow: 1;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  text-align: right;
}

.checkout-cart__total {
  color: #ca0000 !important;
}

.price-vat {
  color: #727272 !important;
  font-size: 1.6rem;
  font-style: italic;
  line-height: 2rem;
  margin: 0;
}

.voucher-form {
  position: relative;
  text-align: left !important;
  input {
    background-color: transparent;
    border: 1px solid #413f3f;
    border-right: none;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding: 1rem 1rem 1rem 1.2rem;
    width: calc(100% - 8rem);
  }
  input:focus {
    background-color: #fff;
    border-color: rgba(#413f3f, 0.4);
    box-shadow: 0 0 0.8rem rgba(#0b9d1a, 0.7);
    outline: none;
  }
  button {
    background-color: #0b9d1a;
    border: 1px solid #0b9d1a;
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.7rem;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 8rem;
  }
}

.checkout-form--wrapper h2 {
  color: rgba($theme4, 0.9);
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.7rem;
  margin: 2rem 0 3.5rem;
}

.checkout-checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.checkout-checkbox > .spacer {
  min-width: 1.5rem;
}

.checkout-checkbox__mark {
  align-items: center;
  background-color: #e5e5e5;
  display: flex;
  height: 2.6rem;
  justify-content: center;
  min-width: 2.6rem;
  svg {
    opacity: 0;
  }
}

input:checked + .checkout-checkbox__mark {
  background-color: #d47c61;
  svg {
    opacity: 1;
  }
}

.checkout-form--wrapper .checkbox-label {
  align-items: center;
  color: $theme4;
  display: flex;
  font-size: 2rem;
  line-height: 2.5rem;
}

.checkout-checkboxes {
  margin-top: 4rem;
  .checkout-checkbox + .checkout-checkbox {
    margin-top: 2.5rem;
  }
}

.checkout-payment {
  margin-top: 4.5rem;
  & > h2 {
    color: rgba($theme4, 0.9);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin: 0;
    margin-bottom: 2.5rem;
  }
}

.checkout-payment-list {
  display: grid;
  grid-gap: 1.8rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.payment-card {
  align-items: center;
  background-color: transparent;
  border: 1px solid #413f3f;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 2.4rem 2.4rem;
  img {
    margin-right: 2rem;
    min-width: 7rem;
    max-width: 7rem;
  }
  p {
    color: rgba($theme4, 0.9);
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0;
  }
  p:first-child {
    font-weight: 500;
  }
  p + p {
    margin-top: 0.8rem;
  }
}

input:checked + .payment-card {
  background-color: #f6e5dc;
}

.checkout-action {
  display: flex;
  margin-top: 7rem;
  button {
    align-items: center;
    border: none;
    display: inline-flex;
    font-size: 1.8rem;
    font-weight: 500;
    justify-content: center;
    line-height: 2.2rem;
    padding: 1.8rem;
    width: 32rem;
  }
  button:first-child {
    background-color: $theme1;
    color: rgba($theme4, 0.9);
    svg {
      margin-right: 0.9rem;
    }
  }
  button:last-child {
    background-color: $theme2;
    color: rgba(#fff, 0.9);
    svg {
      margin-left: 0.9rem;
    }
  }
  button + button {
    margin-left: 4.5rem;
  }
}

.shipping-tooltip {
  p {
    margin: 0;
  }
  p:first-child {
    font-weight: 500;
    margin-bottom: 0.4rem;
  }
}

.checkout-form__company {
  label + label {
    margin-top: 2.4rem;
  }
}

.checkout-result {
  background-color: #f6e5dc;
  margin-top: 15rem;
  padding: 4.5rem 13rem 5.5rem;
  text-align: center;
  width: 75rem;
  h2 {
    color: rgba($theme4, 0.9);
    font-size: 4rem;
    font-weight: 500;
    line-height: 5rem;
    margin: 0;
  }
  p {
    color: rgba($theme4, 0.9);
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin: 0;
    margin-top: 2.1rem;
  }
  strong {
    color: $theme6;
  }
  button {
    position: absolute;
    right: -1rem;
    top: -1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 4.8rem;
    justify-content: center;
    padding: 0;
    height: 7rem;
    width: 7rem;
    align-items: center;
    line-height: 4.8rem;
  }
}

@media screen and (max-width: 1440px) {
  .checkout > .spacer {
    min-width: 6rem;
    max-width: 6rem;
  }
  .checkout-form {
    grid-column-gap: 6rem;
  }
}

@media screen and (max-width: 1024px) {
  .checkout-payment-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .checkout-cart {
    display: none;
  }
  .checkout {
    grid-template-columns: minmax(0, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .checkout {
    padding: 2rem;
    padding-top: 5rem;
  }
  .checkout-form {
    grid-template-columns: minmax(0, 1fr);
    margin-top: 2.8rem;
  }
  .checkout-payment-list {
    grid-template-columns: minmax(0, 1fr);
  }
  .checkout-action {
    display: block;
    margin-top: 4rem;
  }
  .checkout-action button {
    width: 100%;
  }
  .checkout-action button + button {
    margin-top: 1.5rem;
    margin-left: 0;
  }
  .checkout-form__field .value {
    font-size: 1.6rem;
    padding: 1.4rem 1.6rem;
  }
  .checkout-form__field .name {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .checkout-form--wrapper h2 {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }
  .checkout-timer__desc {
    font-size: 1.6rem;
  }
  .checkout-action button {
    font-size: 1.6rem;
  }
  .checkout-form--wrapper .checkbox-label {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
