@import "./base";
@import "../styles-component/header";
@import "../styles-component/footer";

.contact {
  color: $theme4;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  padding-left: 24.5rem;
  padding-right: 10rem;
}

.contact > div {
  align-items: center;
  display: flex;
}

.contact img {
  z-index: -1;
  width: 100%;
}

.section-title {
  font-size: 2.6rem;
  font-weight: normal;
  line-height: 3.2rem;
  margin: 0;
}

.contact-divider {
  border-top: 1px solid $theme4;
  width: 5rem;
}

.store-name {
  font-size: 10rem;
  font-weight: 500;
  line-height: 12.5rem;
  margin: 0;
  opacity: 0.9;
}

.address {
  align-items: flex-start;
  display: flex;
  font-size: 2rem;
  line-height: 3.8rem;
  letter-spacing: 0.06rem;
  margin: 0;
}

.address svg {
  margin-right: 1rem;
  margin-top: 0.9rem;
}

.address p {
  margin: 0;
}

.address-view-btn {
  background-color: #e3e3e3;
  border: none;
  color: $theme4;
  cursor: pointer;
  font-size: 1.8rem;
  letter-spacing: 0.054rem;
  line-height: 3.8rem;
  margin-top: 1.6rem;
  padding: 0.7rem 7.5rem;
}

.contact-info ul {
  padding: 0;
  margin: 0;
}

.contact-info li {
  align-items: center;
  display: flex;
  list-style: none;
  & + li {
    margin-top: 1.2rem;
  }
}

.contact-info h3 {
  margin: 0;
  margin-right: 1.8rem;
}

.contact-info span {
  font-size: 2rem;
  font-style: normal;
  letter-spacing: 0.06rem;
  line-height: 3.8rem;
}

.map-contact {
  margin-top: 15rem;
}

.map-contact img {
  width: 100rem;
}

.map-contact button {
  cursor: pointer;
  position: absolute;
  left: calc(100% + 0.5rem);
  bottom: calc(100% + 1rem);
  font-size: 5.6rem;
  padding: 0;
  line-height: 5.6rem;
  height: 5.6rem;
  width: 5.6rem;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    grid-template-columns: minmax(0, 1fr);
    padding: 3rem;
    padding-top: 7rem;
  }
  .contact > img {
    display: none;
  }
  .store-name {
    font-size: 4.8rem;
    line-height: 6.4rem;
  }
  .section-title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .address p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .address svg {
    margin-top: 0;
  }
  .address {
    margin-top: 1.5rem;
  }
  .contact-info span {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
