.homepage.mobile-only {
  .new-arrival {
    padding: 2rem 4rem;
  }

  .new-arrival h2 {
    color: $theme6;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    margin: 0;
  }

  .new-arrival p {
    color: $theme4;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    margin: 0.7rem 0 0 0;
  }
}
