@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base";
@import "../styles-component/header";
@import "../styles-component/footer";
@import "./homepage-mobile";

body {
  background-image: url("/public/images/bg_homepage.webp");
  background-position: top;
  background-size: cover;
}

.homepage.desktop-only {
  img {
    width: 100%;
  }

  .homepage__head-img1 {
    padding: 0 13.5rem;
    img {
      width: 100%;
    }
  }

  .homepage__head-img2 {
    display: grid;
    grid-gap: 17rem;
    grid-template-columns: minmax(0, 85fr) minmax(0, 70fr);
    padding: 0 10rem;
    img {
      height: 93.5rem;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
  }

  .new-arrival {
    padding: 0 30rem 0 81rem;
    h2 {
      color: #ff492e;
      font-size: 4rem;
      font-weight: bold;
      line-height: 5rem;
      margin: 0;
    }
    div {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
    p {
      color: $theme4;
      font-weight: bold;
      font-size: 5rem;
      line-height: 6.2rem;
      margin: 0;
      white-space: nowrap;
    }
    .spacer {
      min-width: 3.5rem;
    }
  }

  .homepage__button {
    display: contents;
    text-decoration: none;
  }

  .homepage__button button {
    background-color: #11478f;
    border: none;
    box-shadow: 0.6rem 0.8rem 0 #ff492e;
    color: #fff;
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: normal;
    line-height: 2.7rem;
    padding: 1.8rem;
    white-space: nowrap;
    width: 30rem;
  }

  .collection {
    display: flex;
    padding: 0 10rem 0 8.5rem;
  }

  .collection h2 {
    color: #ff492e;
    font-size: 12rem;
    font-weight: bold;
    line-height: 15rem;
    padding: 0 8rem 16rem 16rem;
    margin: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .collection-description {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: relative;
  }

  .collection-description img {
    width: 100%;
  }

  .collection-description__dots {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-10rem, 12rem);
    width: unset !important;
    z-index: -1;
  }

  .collection-content {
    padding: 11rem 8rem 0 5rem;
    h3 {
      color: #000;
      font-size: 3rem;
      font-weight: 500;
      line-height: 3.7rem;
      margin: 0;
    }
    .divider {
      border-top: 1px solid $theme4;
      width: 8rem;
    }
    p {
      color: $theme4;
      font-size: 1.8rem;
      line-height: 3.6rem;
      letter-spacing: 0.072rem;
      margin: 0;
    }
  }

  .best-seller {
    display: grid;
    grid-gap: 4.5rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    padding: 0 18rem 0 10rem;
  }

  .best-seller__rect {
    border: 0.6rem solid #d47c61;
    margin-left: -10rem;
    padding: 7rem 0 6.4rem 10rem;
    text-align: center;
    position: relative;
    z-index: -1;
    h2 {
      color: #11478f;
      font-size: 8rem;
      font-weight: bold;
      line-height: 10rem;
      margin: 0;
    }
    a {
      display: inline-block;
      color: #000;
      font-size: 3rem;
      font-weight: 500;
      line-height: 3.7rem;
      position: relative;
      text-decoration: none;
    }
    a::before {
      position: absolute;
      bottom: 0;
      left: 1rem;
      height: 1.5rem;
      content: " ";
      background-color: #ffe661;
      width: 100%;
      z-index: -1;
    }
    a::after {
      position: absolute;
      bottom: -0.9rem;
      left: 0;
      height: 0.3rem;
      content: " ";
      background-color: #ff492e;
      width: 100%;
    }
  }

  .best-seller__rect--wrapper {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    img {
      height: 50rem;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
  }

  .best-seller__rect--wrapper1 {
    padding-top: 15rem;
  }

  .best-seller > div:first-child {
    padding: 15rem 0;
    position: relative;
  }

  .best-seller .dots {
    position: absolute;
    bottom: 15rem;
    right: -2rem;
    z-index: -1;
  }

  .sales {
    display: flex;
    padding: 0 10rem 0 21.5rem;
    & > div:first-child {
      padding: 10rem 21rem 0 0;
    }
    h2 {
      color: #ff492e;
      font-size: 7rem;
      font-weight: bold;
      line-height: 8.7rem;
      margin: 0;
      white-space: nowrap;
    }
    h2 strong {
      font-size: 18rem;
      line-height: 22.5rem;
    }
    p {
      background-color: #ffe661;
      color: $theme4;
      font-size: 2rem;
      line-height: 2.5rem;
      padding: 1.4rem 2.4rem;
      white-space: nowrap;
    }
  }

  .stay-home-msg {
    background-color: #d47c61;
    padding: 4rem 0 3rem;
    h2 {
      color: #f6e5dc;
      font-size: 12rem;
      font-weight: 500;
      line-height: 12rem;
      letter-spacing: 0.12rem;
      margin: 0;
      text-align: center;
    }
  }

  .stay-home-after {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 10rem;
  }

  .stay-home-after-card {
    img {
      height: 70rem;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
    a {
      color: $theme4;
      display: inline-block;
      font-size: 2rem;
      line-height: 3.6rem;
      text-decoration: none;
      position: relative;
    }
    a::after {
      position: absolute;
      top: calc(100% + 1px);
      left: -2px;
      right: -1rem;
      height: 0.3rem;
      content: " ";
      background-color: #d47c61;
    }
    .link-container {
      padding-left: 1rem;
    }
  }

  @media screen and (max-width: 1440px) {
    .new-arrival {
      padding: 0 30rem 0 60rem;
    }
    .collection h2 {
      padding: 0 4rem 12rem 12rem;
    }
    .homepage__head-img2 img {
      height: 75rem;
    }
    .stay-home-after-card img {
      height: 60rem;
    }
  }

  @media screen and (max-width: 767px) {
    .stay-home-msg {
      padding: 2rem 0;
    }
    .stay-home-msg h2 {
      font-size: 4.8rem;
      line-height: 1.5;
    }
    .stay-home-msg span {
      display: block;
    }
    .stay-home-after {
      padding: 4rem 3rem 0 3rem;
      grid-gap: 4rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
