@import "./base";
@import "../styles-component/header";
@import "../styles-component/footer";
@import "../styles-component/shop-list";

body {
  background-image: url("/public/images/bg_others.webp");
  background-position: top;
  background-size: cover;
}

.shop {
  display: grid;
  grid-gap: 8rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 6rem;
}

.shop-filter__section-title {
  color: #000;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin: 0;
}

.shop-filter__section-title__divider {
  background-color: #727272;
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
}

.shop-filter select[name="sort"] {
  background-color: #fff;
  border: 0.1rem solid #c4c4c4;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1.2rem 1.7rem;
  margin-bottom: 0.8rem;
  width: 100%;
}

.shop-filter .accordion__heading {
  cursor: pointer;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.shop-filter .accordion__button {
  color: $theme4;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  position: relative;

  &::after {
    color: $theme4;
    font-size: 2.4rem;
    line-height: 3rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &[aria-expanded="false"]::after {
    content: "+";
  }
  &[aria-expanded="true"]::after {
    content: "-";
  }
  &:focus {
    outline: none;
  }
}

.shop-filter .accordion__panel {
  label {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  label:first-child {
    margin-top: 0.8rem;
  }
  label:last-child {
    margin-bottom: 2rem;
  }
  label + label {
    padding-top: 1.6rem;
  }
  input[type="radio"],
  input[type="checkbox"] {
    display: none;
    &:checked + span {
      color: $theme6;
      font-weight: 500;
    }
  }
  span {
    color: $theme4;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.shop-filter .accordion__item {
  border-bottom: 0.1rem solid #727272;
}

.shop__collection-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.7rem;
  margin: 0;
}

.shop-search--wrapper {
  display: flex;
  justify-content: space-between;
}

.shop-search {
  margin-bottom: 4.5rem;
  position: relative;

  input {
    border: 0.07rem solid #413f3f;
    color: #413f3f;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 1.5rem 5rem 1.5rem 1.8rem;
  }
  input::placeholder {
    color: #727272;
  }

  svg {
    position: absolute;
    right: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.shop__header-image {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .shop {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .shop-search svg {
    height: 2.4rem;
    width: 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  .shop {
    grid-gap: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .shop {
    grid-gap: 2rem;
    grid-template-columns: minmax(0, 1fr);
    padding: 2rem;
  }
  .shop__header-image,
  .shop-search--wrapper {
    display: none;
  }

  .shop-filter__section-title,
  .shop-filter__section-title__divider {
    display: none;
  }

  .mobile-filter__triggers {
    align-items: center;
    display: flex;
    button {
      background-color: transparent;
      border: none;
      padding: 0;
    }
    button:focus {
      outline: none;
    }
  }
  .mobile-filter__search {
    align-items: center;
    display: flex;
    flex-grow: 1;
    padding-left: 2rem;
    position: relative;
    input {
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding: 1rem 4.5rem 1rem 1rem;
      width: 100%;
    }
    svg {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .mobile-filter__modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    &.active {
      display: flex;
      flex-direction: column;
    }
    .spacer {
      height: 24rem;
      width: 100%;
    }
  }

  .shop-filter {
    background-color: #fff;
    height: 100%;
    overflow: auto;
    padding: 3rem;
    position: relative;
    -webkit-animation-name: animatedown;
    -webkit-animation-duration: 0.4s;
    animation-name: animatedown;
    animation-duration: 0.4s;
  }
}

.colour-filter {
  display: grid;
  grid-gap: 2.8rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-bottom: 2rem;
}

.colour-filter__item--wrapper-out {
  border-radius: 50%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.colour-filter__item--wrapper-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  align-items: center;
  display: flex;
  justify-content: center;
}

.colour-filter__item {
  border-radius: 50%;
  min-height: 4rem;
  max-height: 4rem;
  min-width: 4rem;
  max-width: 4rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.colour-filter label {
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
}

.colour-filter__item svg {
  display: none;
}

input:checked + .colour-filter__item--wrapper-out svg {
  display: block;
}

.shop-filter__checkbox {
  align-items: center;
  border: 1.5px solid #727272;
  border-radius: 0.4rem;
  display: flex;
  height: 1.8rem;
  justify-content: center;
  width: 1.8rem;
  svg {
    opacity: 0;
  }
}

input:checked ~ .shop-filter__checkbox {
  background-color: #109cf1;
  border-color: #109cf1;
  svg {
    opacity: 1;
  }
}
