@import "./base";
@import "../styles-component/header";
@import "../styles-component/footer";
@import "../styles-component/product-slider";
@import "../styles-component/product-card";

body {
  background-image: url("/public/images/bg_others.webp");
  background-position: top;
  background-size: cover;
}

.shop-item__related-divider {
  border-top: 0.1rem solid #727272;
  margin: 6rem -28.5rem 4rem;
}

.shop-item--wrapper {
  padding-left: 38.5rem;
  padding-right: 38.5rem;
  padding-top: 3.5rem;
}

.shop-item__breadcrumb {
  padding-bottom: 5rem;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    color: $theme4;
    display: inline-block;
    font-size: 2rem;
    line-height: 2.5rem;
    list-style: none;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  span {
    color: #000;
    font-size: 2rem;
    line-height: 2.5rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.shop-item {
  display: grid;
  grid-gap: 5.1rem;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}

.shop-item__section-title {
  color: $theme4;
  font-size: 2.6rem;
  line-height: 3.2rem;
  margin: 0;
}

.shop-item__id {
  color: #727272;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1.5rem 0 0 0;
}

.shop-item__price {
  align-items: center;
  display: flex;
  margin: 1.5rem 0 0 0;
  span.old {
    color: #727272;
    font-size: 2rem;
    line-height: 2.5rem;
    text-decoration: line-through;
    margin-right: 1.6rem;
  }
  span:not(.old) {
    color: #000;
    font-size: 2.2rem;
    line-height: 2.7rem;
  }
}

.shop-item__divider {
  border-top: 0.1rem solid #000;
  margin: 1.5rem 0 2rem 0;
  width: 5rem;
}

.shop-item__colour-list {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.shop-item__colour {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 2.2rem;
  position: relative;
  width: 2.2rem;
  &:hover::after,
  &:focus::after,
  &.active::after {
    content: "";
    position: absolute;
    top: -0.4rem;
    left: -0.4rem;
    right: -0.4rem;
    bottom: -0.4rem;
    border: 0.1rem solid #000;
    border-radius: 50%;
  }
  &:focus {
    outline: none;
  }
}

.shop-item__colour + .shop-item__colour {
  margin-left: 1.4rem;
}

.shop-item select[name="size"] {
  background-color: #fff;
  border: 0.07rem solid #413f3f;
  color: #727272;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1.8rem;
  margin-top: 1.5rem;
  padding: 1.2rem 0 1.2rem 1.8rem;
  width: 100%;
}

.shop-item__count {
  margin-bottom: 1.5rem;
  margin-top: 0.8rem;
}

.shop-item__count span {
  font-size: 2.2rem;
  line-height: 2.7rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.shop-item__count button {
  background-color: #fff;
  border: 0.05rem solid #413f3f;
  color: #413f3f;
  font-size: 2.4rem;
  line-height: 3rem;
  height: 4.8rem;
  width: 4.8rem;

  &:disabled {
    background-color: #efefef;
    border: 0.05rem solid #efefef;
  }
}

.shop-item__discount-number--wrapper {
  margin-right: -1.4rem;
  margin-bottom: 2rem;
  padding-right: 0.4rem;
  max-height: 17.8rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.8rem;
  }
  &::-webkit-scrollbar-track {
    background: #c4c4c4;
  }
  &::-webkit-scrollbar-thumb {
    background: #727272;
  }
}

.shop-item__discount-number p {
  display: flex;
  margin: 0;
  width: 100%;
  span {
    align-items: center;
    display: inline-flex;
    height: 5rem;
  }
  span:first-child {
    background-color: #146aa8;
    border: 0.07rem solid #146aa8;
    color: #fff;
    font-size: 1.8rem;
    line-height: 2.2rem;
    justify-content: center;
    padding: 1.4rem 0;
    text-align: center;
    width: 33%;
  }
  span:last-child {
    border: 0.07rem solid #413f3f;
    border-left: none;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1.4rem;
    width: 67%;
  }
}

.shop-item__discount-number p + p {
  margin-top: 1.4rem;
}

.shop-item__action {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 3.5rem;
}

.shop-item__action button {
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  height: 5rem;
  padding: 1.6rem 0;

  &:first-child {
    background-color: $theme1;
    color: $theme4;
  }
  &:last-child {
    background-color: $theme2;
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.shop-item .accordion__item {
  border-top: 0.1rem solid #727272;
  padding: 2rem 0;
}

.shop-item .accordion__item:last-child {
  border-bottom: 0.1rem solid #727272;
}

.shop-item .accordion__heading {
  color: $theme4;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2.5rem;
  position: relative;
}

.shop-item .accordion__button {
  position: relative;
  &::after {
    color: $theme4;
    font-size: 2.4rem;
    line-height: 3rem;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &[aria-expanded="false"]::after {
    content: "+";
  }
  &[aria-expanded="true"]::after {
    content: "-";
  }
}

.shop-item .accordion__panel {
  color: #727272;
  font-size: 1.8rem;
  list-style: 2.2rem;
  p {
    margin: 1rem 0 0 0;
  }
}

.related-item-list__title {
  font-size: 2.6rem;
  line-height: 3.2rem;
  margin: 0;
  margin-bottom: 3.5rem;
}

.shop-item__footer-image {
  margin: 6rem -10rem 0;
  width: calc(100% + 20rem);
}

.shop-item__preview {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: minmax(0, 3fr) minmax(0, 10fr);
}

.shop-item__preview__vertical--wrapper {
  margin: -0.5rem;
  margin-right: -0.7rem;
  padding: 0.4rem;
  padding-right: 0.6rem;
  max-height: 70rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.4rem;
  }
  &::-webkit-scrollbar-thumb {
    background: #727272;
  }
}

.shop-item__preview__vertical {
  div {
    position: relative;
  }
  div + div {
    margin-top: 1rem;
  }
  img {
    width: 100%;
  }

  .active::after {
    content: "";
    border: 0.2rem solid $theme4;
    position: absolute;
    top: -0.4rem;
    left: -0.4rem;
    right: -0.4rem;
    bottom: -0.2rem;
  }
}

.shop-item__preview__big {
  margin-bottom: -0.5rem;
}

.shop-item__preview__big img {
  height: 70rem;
  object-fit: cover;
  object-position: center center;
}

.shop-item__preview__arrow {
  height: 70rem !important;
  width: 4rem !important;
  z-index: 1;

  &::before {
    display: none;
  }

  &.prev {
    left: 0;
    right: unset;
  }
  &.next {
    left: unset;
    right: 0;
  }
}

.shop-item__discount-acc {
  margin-top: 3rem;
}

.shop-item__discount-acc__info {
  background-color: $theme1;
  color: $theme6;
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 1rem 0 1rem 2.8rem;
}

.shop-item__discount-acc__item-list {
  display: flex;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 0.3rem;
  }
  &::-webkit-scrollbar-thumb {
    background: #727272;
  }
}

.shop-item__discount-acc__item + .shop-item__discount-acc__item {
  margin-left: 0.8rem;
}

.shop-item__discount-acc__item img {
  height: 15rem;
  object-fit: cover;
  object-position: center center;
  width: 24rem;
}

.shop-item__desc {
  margin-top: 3rem;
  h2 {
    color: $theme4;
    font-size: 2.6rem;
    line-height: 3.2rem;
    margin: 0;
  }
  p {
    color: $theme4;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.06rem;
    margin: 0;
    margin-top: 0.5rem;
  }
}

.shop-item__size {
  display: flex;
  justify-content: space-between;
}

.shop-item__size-table-trigger {
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #004789;
  color: #004789;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.048rem;
  padding: 0 0.5rem;
}

@media screen and (max-width: 1440px) {
  .shop-item--wrapper {
    padding-left: 30rem;
    padding-right: 30rem;
  }
  .shop-item__related-divider {
    margin-left: -15rem;
    margin-right: -15rem;
  }
}

@media screen and (max-width: 1024px) {
  .shop-item--wrapper {
    padding-left: 18rem;
    padding-right: 18rem;
  }
  .shop-item__related-divider {
    margin-left: -10rem;
    margin-right: -10rem;
  }
}

@media screen and (max-width: 768px) {
  .shop-item--wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .shop-item__related-divider {
    margin-left: 0;
    margin-right: 0;
  }
  .shop-item__footer-image {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .product-slider__arrow.prev {
    right: calc(100% + 0.8rem) !important;
    text-align: right;
  }
  .product-slider__arrow.next {
    left: calc(100% + 0.8rem) !important;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .shop-item__footer-image {
    display: none;
  }
  .product-slider__arrow {
    top: 45%;
  }

  .shop-item__breadcrumb {
    display: none;
  }

  .shop-item {
    display: block;
  }

  .shop-item__preview {
    display: flex;
    flex-direction: column-reverse;
  }

  .shop-item__preview__vertical--wrapper {
    margin-top: 2rem;
    &::-webkit-scrollbar {
      height: 0.4rem;
    }
    &::-webkit-scrollbar-thumb {
      background: #727272;
    }
  }

  .shop-item__preview__vertical {
    display: flex;
  }

  .shop-item__preview__arrow.prev {
    left: unset !important;
    right: calc(100% + 0.7rem) !important;
    text-align: right;
  }
  .shop-item__preview__arrow.next {
    left: calc(100% + 0.7rem) !important;
    right: unset !important;
    text-align: left;
  }
  .shop-item__preview__vertical div {
    margin-top: 0 !important;
    margin-right: 3rem !important;
  }
  .shop-item__preview__vertical img {
    min-height: 12rem;
    max-height: 12rem;
    width: unset;
  }

  .shop-item__preview__big img {
    height: 40rem;
  }
  .shop-item__info {
    padding-top: 3rem;
  }

  .shop-item__discount-number--wrapper {
    margin-bottom: 2rem;
  }

  .shop-item__discount-acc {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .shop-item__discount-acc__info {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1rem 1.5rem;
  }
  .shop-item__related-divider {
    border: none;
    margin: 0;
    margin-bottom: 5rem;
  }
  .productname {
    font-size: 2.4rem !important;
    line-height: 3.2rem !important;
  }
  .shop-item__desc h2,
  .shop-item__section-title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .shop-item__desc p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .shop-item__size-table-trigger {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .shop-item__discount-number p span:first-child {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .shop-item__discount-number p span:last-child {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .shop-item .accordion__heading {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .shop-item .accordion__panel p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .related-item-list__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
