.auth {
  margin-top: 15rem;
  padding: 3.6rem 14.5rem 5rem;
  width: 85rem;
}

.auth__close-btn {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 4.8rem;
  height: 7rem;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 7rem;
}

.auth__title {
  color: $theme4;
  font-size: 4rem;
  font-weight: 500;
  line-height: 5rem;
  margin: 0;
  opacity: 0.9;
  padding-bottom: 1.3rem;
  text-align: center;
}

.auth__tutorial {
  color: $theme4;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin: 0;
  opacity: 0.9;
  text-align: center;
}

.auth-form {
  padding: 3.6rem 0 0;
}

.auth-form__field {
  display: block;
}

.auth-form__field + .auth-form__field {
  margin-top: 3rem;
}

.auth-form__field-name {
  color: $theme4;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  opacity: 0.9;
  padding-bottom: 1.2rem;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;
    padding: 0;
    &:focus {
      outline: none;
    }
  }

  button:not(.active) {
    color: #a8a8a8;
  }

  span {
    font-weight: normal;
    padding: 0 1.2rem;
  }
}

.auth-form__field-value {
  border: 0.07rem solid #413f3f;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 1.8rem 2rem;
  width: 100%;
  &::placeholder {
    color: #727272;
  }
  &:focus {
    box-shadow: 0 0 0.3rem #413f3f;
    outline: none;
  }
}

.auth-form__submit-btn {
  background-color: $theme2;
  border: none;
  color: rgba(#fff, 0.9);
  cursor: pointer;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-top: 4.5rem;
  padding: 1.8rem 0;
  transition: 0.1s background-color linear;
  width: 100%;
  &:focus,
  &:hover {
    background-color: lighten($theme2, 3%);
    outline: none;
  }
}

.auth-footer__action {
  background-color: transparent;
  border: none;
  color: $theme4;
  cursor: pointer;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.5rem;
  margin-top: 2rem;
  padding: 0;
  text-align: left;
  &:focus,
  &:hover {
    font-weight: 500;
    outline: none;
  }
}

.auth-footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .auth {
    padding: 2rem;
    margin-top: 8rem;
  }
  .auth__title {
    font-size: 3.2rem;
  }
  .auth__close-btn {
    top: -1rem;
    right: -1rem;
  }
}
