@import "./cart";

.cart-sidebar--wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  // overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: flex-end;
  align-items: stretch;

  &.active {
    display: flex;
  }
}

.cart-sidebar {
  position: relative;
  background-color: #fefefe;
  overflow: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animateright;
  animation-duration: 0.4s;
}

.cart-sidebar__header {
  background-color: $theme4;
  padding: 3.2rem 0;
  position: relative;
  text-align: center;
}

.cart-sidebar__header h2 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 3.6rem;
  margin: 0;
}

.cart-sidebar__header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.5rem;
  position: absolute;
}
