.cart__product-card {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: minmax(15rem, 3fr) minmax(0, 5fr);
}

.cart__img-container {
  align-items: center;
  display: flex;
  img {
    height: 20rem;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
}

.cart__product-card + .cart__product-card {
  margin-top: 2.5rem;
}

.cart__product-name {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
}

.cart__product-price,
.cart__info li {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
}

.cart__info li + li {
  margin-top: 1rem !important;
}

.cart__info {
  display: block !important;
  li {
    align-items: center;
    display: flex !important;
    margin: 0 !important;
  }
}

.cart__colour {
  border-radius: 50%;
  display: inline-block;
  height: 1.9rem;
  margin-left: 1rem;
  width: 1.9rem;
}

.cart__divider {
  border-top: 0.1rem solid;
  margin: 1rem 0;
  width: 5rem;
}

.cart__body hr {
  border-top: 0.07rem solid $theme4;
  margin: 5rem 0 2.8rem;
}

.cart__total {
  align-items: center;
  display: flex;
  justify-content: space-between;
  h2,
  p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
  }
}

.cart__checkout-btn {
  background-color: $theme2;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 4rem;
  opacity: 0.9;
  padding: 1.8rem 0;
  width: 100%;
}

.cart__body {
  padding: 4rem 8rem 0;
  width: calc(45rem + 10rem * 2);
}

.cart__product-card.compact {
  grid-gap: 3rem;
  .cart__product-name,
  .cart__product-price,
  .cart__info li {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .cart__colour {
    height: 1.8rem;
    width: 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  .cart__product-card {
    grid-gap: 2rem;
  }
}
