.footer {
  background-color: $theme1;
  margin-top: 14rem;
  padding: 11rem 13.5rem 7.5rem;
  position: relative;
}

.footer::after {
  content: "&";
  color: $theme2;
  font-size: 15rem;
  line-height: 3.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 0;
}

.footer > div {
  display: flex;
}

.footer-info {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  padding-right: 10rem;
  width: 50%;
}

.footer-info h2 {
  color: $theme4;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 3.6rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

.footer-info ul {
  margin: 0;
  padding: 0;
}

.footer-info li {
  font-size: 1.8rem;
  line-height: 4rem;
  letter-spacing: 0.054rem;
  list-style: none;
}

.footer-info li + li {
  margin-top: 1rem;
}

.footer-email {
  padding-left: 12rem;
  width: 50%;
}

.footer-email h2 {
  color: $theme4;
  font-size: 5rem;
  font-weight: bold;
  line-height: 3.6rem;
  margin: 0;
}

.footer-email p {
  color: $theme4;
  font-size: 2.2rem;
  line-height: 3.6rem;
  margin: 0;
  padding-top: 1.6rem;
}

.footer-email div {
  padding-top: 1.5rem;
}

.footer-email input {
  background-color: #fff;
  border: none;
  color: #414141;
  font-size: 2rem;
  line-height: 3.6rem;
  padding: 2.2rem 0 2.2rem 3rem;
  width: 75%;
}

.footer-email button {
  background-color: $theme2;
  border: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  height: 100%;
  line-height: 3.6rem;
  padding: 2.2rem 0 2.2rem;
  width: 25%;
}

.footer > p {
  color: #727272;
  font-size: 2rem;
  margin-top: 3rem;
  line-height: 2.5rem;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 8rem 8rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 8rem;
  }
  .footer::after {
    z-index: -1;
  }
  .footer > div {
    flex-direction: column-reverse;
  }
  .footer-info {
    grid-gap: 12rem;
    margin-top: 8rem;
    padding: 0;
    width: 100%;
  }
  .footer-email {
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 3rem 2rem 2rem 2rem;
  }
  .footer-email {
    text-align: center;
    h2 {
      font-size: 3.2rem;
      line-height: 3.6rem;
    }
    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
  .footer-email div {
    display: flex;
  }
  .footer-email input {
    display: block;
    flex-grow: 1;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1.2rem 2.4rem;
    width: 100%;
  }
  .footer-email button {
    display: block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0;
    padding: 1.2rem 2.4rem;
    white-space: nowrap;
    width: unset;
  }
  .footer-info {
    grid-gap: 4rem;
    grid-template-columns: minmax(0, 1fr);
    margin-top: 4rem;
  }
  .footer > p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 4rem;
    margin-bottom: 0;
    text-align: center;
  }
  .footer-info h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .footer-info li {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
