@import "./my-modal";
@import "./size-table-popup";
@import "./cart-sidebar";
@import "./auth-popup";

.header {
  align-items: flex-end;
  background-color: #fff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2.4rem;
  padding-left: 9.5rem;
  padding-right: 12rem;
}

#logo-wrapper {
  color: #000;
  text-decoration: none;
}

#logo {
  align-items: center;
  display: flex;
}

#logo img {
  height: 5rem;
  margin-right: 1rem;
}

#logo .site-name {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.7rem;
  letter-spacing: 0.14rem;
  margin: 0;
}

#logo .site-desc {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.2rem;
  letter-spacing: 0.28em;
  margin: 0;
  margin-top: -0.3rem;
}

.header ul {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav > li {
  padding: 0 1.5rem;
}

.header li,
.header li > button {
  align-items: center;
  color: $theme4;
  display: flex;
  font-size: 2rem;
  line-height: 2.5rem;
  list-style: none;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.header li > button {
  padding: 0;
}

.header li > button,
.header li > a {
  background: transparent;
  border: none;
  cursor: pointer;
  // &:hover {
  //   color: $theme6;
  //   font-weight: bold;
  //   path {
  //     fill: $theme6;
  //   }
  // }
}

.header li.active {
  button,
  a {
    color: $theme6;
    font-weight: bold;
    path {
      fill: $theme6;
    }
  }
}

.header .divider {
  border: none;
  border-right: 1px solid $theme4;
  display: inline-block;
  height: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.header .search-icon > button svg {
  margin-right: 1.2rem;
}

.header .cart-icon:not(.hide-sidebar) {
  display: none;
}

.header .cart-icon > button svg {
  margin-right: 0.9rem;
}

.header .cart-icon > a {
  align-items: center;
  display: flex;
}

.header .cart-icon > a svg {
  margin-right: 0.9rem;
}

.header .search-icon {
  position: relative;
}

.header__search-popup {
  background-color: #fff;
  border: 0.07rem solid #c4c4c4;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 100;

  position: absolute;
  top: calc(100% + 2.4rem);
  left: -5rem;
  right: -5rem;

  & > div {
    padding: 2.7rem 2.5rem 3.5rem;
  }

  span {
    color: $theme4;
  }

  &.active {
    display: block;
  }
}

.header__search-popup {
  label,
  button {
    display: block;
  }

  span {
    color: $theme4;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
  }

  input {
    border: 0.1rem solid #c4c4c4;
    color: $theme4;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-top: 1.4rem;
    padding: 1rem;
    width: 100%;
    &::placeholder {
      color: #727272;
    }
  }
}

.header__search-popup__submit-btn {
  background-color: $theme2;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  margin-top: 2.4rem;
  padding-bottom: 0.8rem;
  padding-top: 0.7rem;
  width: 100%;
}

.header__search-popup__close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.header .hamburger-icon {
  display: none;
}

.header-nav {
  margin-right: -1.5rem !important;
}

@media screen and (max-width: 1280px) {
  .header {
    padding-left: 2rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 1023px) {
  #logo .site-name,
  #logo .site-desc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  // #logo .site-name,
  // #logo .site-desc {
  //   display: block;
  // }
  .header {
    align-items: center;
    padding: 1rem;
    padding-left: 2rem;
  }

  #logo {
    align-items: center;
  }

  #logo img {
    height: 5rem;
    margin-right: 0;
  }

  #logo .site-name {
    font-size: 2.4rem;
  }

  #logo .site-desc {
    font-size: 1.6rem;
    letter-spacing: 0.32rem;
  }

  .header .hamburger-icon {
    background-color: transparent;
    border: none;
    display: block;
    padding: 1rem;
  }

  .header-nav--wrapper {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    justify-content: flex-end;
    align-items: stretch;

    &.active {
      display: flex;
    }
  }
  .header-nav {
    position: relative;
    background-color: #fefefe;
    overflow: auto;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animateright;
    animation-duration: 0.4s;

    padding: 3rem 6rem 3rem 4rem !important;
  }
  .header ul {
    display: block;
  }
  .header-nav > .divider {
    border: none;
    border-top: 1px solid #000;
    height: 0;
    margin: 0.5rem 0 2rem;
    width: 100%;
  }
  .header-nav > li {
    margin-bottom: 2rem !important;
    padding: 0 !important;
  }
  .header .cart-icon.hide-sidebar {
    display: none;
  }
  .header .cart-icon:not(.hide-sidebar) {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  #logo img {
    height: 5rem;
  }
  #logo .site-name {
    font-size: 2rem;
  }
  #logo .site-desc {
    font-size: 1.4rem;
    letter-spacing: 0.26rem;
  }
}
