.my-tooltip {
  align-items: center;
  display: inline-flex;
  position: relative;
  margin-left: 1rem;
}

.my-tooltip button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 2.6rem;
  padding: 0;
  &:focus {
    outline: none;
  }
}

.my-tooltip__content {
  background-color: #004687;
  border: none;
  border-radius: 1rem;
  color: rgba(#fff, 0.9);
  display: none;
  font-size: 1.6rem;
  letter-spacing: 0.016rem;
  line-height: 2.2rem;
  left: calc(100% + 1.5rem);
  padding: 1.5rem 2rem 1.5rem 2.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  width: 33rem;
  &::after {
    content: "";
    position: absolute;
    left: -1rem;
    top: 40%;
    transform: translateY(-50%);

    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #004687;
  }
}

.my-tooltip.active .my-tooltip__content {
  display: block;
}
