.pagination {
  display: flex;
  float: right;
  margin-top: 4rem;
  justify-content: flex-end;
}

.pagination-button {
  align-items: center;
  background-color: #fff;
  border: 0.1rem solid #747272;
  border-right: none;
  color: $theme4;
  cursor: pointer;
  display: inline-flex;
  font-size: 2rem;
  font-weight: 500;
  height: 4.5rem;
  line-height: 2.5rem;
  justify-content: center;
  text-decoration: none;
  width: 4.5rem;
  &.active {
    color: #fff;
    background-color: #146aa8;
  }
}

.pagination-button:last-child {
  border-right: 0.1rem solid #747272;
}

@media screen and (max-width: 767px) {
  .pagination {
    margin-top: 3rem;
  }
  .pagination-button {
    font-size: 1.6rem;
    height: 4rem;
    width: 4rem;
  }
  .pagination-button svg {
    height: 1.2rem;
  }
}
