.product-slider__item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-slider .slick-list {
  margin-left: -1rem;
  margin-right: -1rem;
}

.product-slider__arrow {
  height: 20rem !important;
  width: 5rem !important;
  top: 36% !important;
  z-index: 100;
  &::before {
    display: none;
  }
}

.product-slider__arrow.prev {
  left: unset;
  right: calc(100% + 2.5rem) !important;
  text-align: right;
}

.product-slider__arrow.next {
  left: calc(100% + 2.5rem) !important;
  right: unset;
  text-align: left;
}
