.product-card {
  img {
    height: 42rem;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
}

.product-card__name {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.7rem;
  padding: 1.6rem 0 1rem;
  margin: 0;
}

.product-card__colour-list {
  padding-bottom: 1.6rem;
}

.product-card__colour {
  border-radius: 50%;
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
}

.product-card__colour + .product-card__colour {
  margin-left: 0.9rem;
}

.product-card__price {
  align-items: center;
  display: flex;
  padding-bottom: 1.2rem;
}

.product-card__price span:not(.old) {
  color: #000;
  font-size: 2.2rem;
  line-height: 2.7rem;
}

.product-card__price span.old {
  color: #727272;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-right: 1.4rem;
  text-decoration: line-through;
}

.product-card__discount {
  background-color: $theme1;
  color: $theme6;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0.9rem 1.4rem;
}

.product-card__img {
  display: block;
  height: 0;
  padding-bottom: 130%;
  position: relative;
}

.product-card__img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .product-card__name {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .product-card__price span:not(.old) {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .product-card__price span.old {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
