@import "./product-card";
@import "./pagination";

.shop-list {
  display: grid;
  grid-column-gap: 1.6rem;
  grid-row-gap: 4rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-top: 2.5rem;
}

@media screen and (max-width: 768px) {
  .shop-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .shop-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .shop-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0;
  }
}
