.size-table {
  margin-top: 15rem;
}

.size-table img {
  width: 100rem;
}

.size-table button {
  cursor: pointer;
  position: absolute;
  left: calc(100% + 0.5rem);
  bottom: calc(100% + 1rem);
  font-size: 5.6rem;
  padding: 0;
  line-height: 5.6rem;
  height: 5.6rem;
  width: 5.6rem;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}
